# Import

In [15]:
# Basics
import pandas as pd
import numpy as np

# Spark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import StructType, StructField, StringType
spark = SparkSession.builder.getOrCreate()

22/05/22 07:42:58 WARN HeartbeatReceiver: Removing executor driver with no recent heartbeats: 43259406 ms exceeds timeout 120000 ms
22/05/22 07:42:58 WARN SparkContext: Killing executors is not supported by current scheduler.

### Data Acquisition

This exercises uses the case.csv, dept.csv, and source.csv files from the san antonio 311 call dataset.

   - Read the case, department, and source data into their own spark dataframes.

   - Let's see how writing to the local disk works in spark:
      -  Write the code necessary to store the source data in both csv and json format, store these as sources_csv and sources_json
      -  Inspect your folder structure. What do you notice?

   - Inspect the data in your dataframes. Are the data types appropriate? Write the code necessary to cast the values to the appropriate types.

In [5]:
# 
case_df = spark.read.csv("case.csv", sep=",", header=True, inferSchema=True)


dept_df = spark.read.csv("dept.csv", sep=",", header=True, inferSchema=True)


source_df = spark.read.csv("source.csv", sep=",", header=True, inferSchema=True)

In [9]:
case_df.show(3)

+----------+----------------+----------------+------------+---------+-------------------+-----------+----------------+--------------------+-----------+-----------+---------+--------------------+----------------+
|   case_id|case_opened_date|case_closed_date|SLA_due_date|case_late|      num_days_late|case_closed|   dept_division|service_request_type|   SLA_days|case_status|source_id|     request_address|council_district|
+----------+----------------+----------------+------------+---------+-------------------+-----------+----------------+--------------------+-----------+-----------+---------+--------------------+----------------+
|1014127332|     1/1/18 0:42|    1/1/18 12:29|9/26/20 0:42|       NO| -998.5087616000001|        YES|Field Operations|        Stray Animal|      999.0|     Closed| svcCRMLS|2315  EL PASO ST,...|               5|
|1014127333|     1/1/18 0:46|     1/3/18 8:11| 1/5/18 8:30|       NO|-2.0126041669999997|        YES|     Storm Water|Removal Of Obstru...|4.322222222|     Closed| svcCRMSS|2215  GOLIAD RD, ...|               3|
|1014127334|     1/1/18 0:48|     1/2/18 7:57| 1/5/18 8:30|       NO|       -3.022337963|        YES|     Storm Water|Removal Of Obstru...|4.320729167|     Closed| svcCRMSS|102  PALFREY ST W...|               3|
+----------+----------------+----------------+------------+---------+-------------------+-----------+----------------+--------------------+-----------+-----------+---------+--------------------+----------------+
only showing top 3 rows

In [10]:
dept_df.show(3)

+---------------+--------------------+----------------------+-------------------+
|  dept_division|           dept_name|standardized_dept_name|dept_subject_to_SLA|
+---------------+--------------------+----------------------+-------------------+
|311 Call Center|    Customer Service|      Customer Service|                YES|
|          Brush|Solid Waste Manag...|           Solid Waste|                YES|
|Clean and Green|Parks and Recreation|    Parks & Recreation|                YES|
+---------------+--------------------+----------------------+-------------------+
only showing top 3 rows

In [11]:
source_df.show(3)

+---------+----------------+
|source_id| source_username|
+---------+----------------+
|   100137|Merlene Blodgett|
|   103582|     Carmen Cura|
|   106463| Richard Sanchez|
+---------+----------------+
only showing top 3 rows

In [13]:
# Save as a spark json file
case_df.write.json("case_json", mode="overwrite")

dept_df.write.json("dept_json", mode="overwrite")

source_df.write.json("source_json", mode="overwrite")

# Three folders, each with json data for a different df

In [14]:
# Now as a spark csv
case_df.write.csv("case_csv", mode="overwrite")

dept_df.write.csv("dept_csv", mode="overwrite")

source_df.write.csv("source_csv", mode="overwrite")

# Three folders, each with csv data for a different df
# Same as json, no immediatetly noticeable differences